body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f6f8fb;
}

header, footer {
  background: #fff;
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 1rem;
  background-color: #1366d6;
  box-shadow: #fff 0px 4px 6px -1px, #0000001a 0px 2px 4px -1px ;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 1rem;

}

.card {
  background: #b0cee6;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  margin: 0.5rem 0;
}

input, textarea, select {
  width: 100%;
  padding: 0.5rem;
  margin: 0.3rem 0;
  border: 1px solid #b2c7dc;
  border-radius: 6px;
}

.btn {
  background: #1366d6;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: #0f55b0;
}

@media (max-width: 700px) {
  .container {
    padding: 0.5rem;
  }
}
